
<!-- Modal -->
<form class="form-login" action="/user/loginAuth" method="POST" enctype="multipart/form-data">
<div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog form-dark" role="document">
    <!--Content-->
    <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg'); background-repeat: no-repeat; height: 30rem; width: 20rem;">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
          <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>Se connecter</strong></h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
          <!--Body-->
          <div class="md-form mb-5">
            <label data-error="wrong" data-success="right" for="Form-email5" style="color: black">Adresse Mail</label>
            <input type="email" id="Form-email5" class="form-control validate white-text" name="email" placeholder="Email" required>
          </div>

          <div class="md-form pb-3">
            <label data-error="wrong" data-success="right" for="Form-pass5" style="color: black">Mot de passe</label>
            <input type="password" id="Form-pass5" class="form-control validate white-text" name="password" placeholder="Password" required>
          </div>

          <!--Grid row-->
          <div class="row d-flex align-items-center mb-4">

            <!--Grid column-->
            <div class="text-center mb-3 col-md-12">
              <button type="submit" class="btn  btn-block btn-rounded z-depth-1" value="login">Connexion</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            {{!-- <div class="col-md-12">
              <p class="font-small white-text d-flex justify-content-start">Pas encore inscrit ?<a href="#modalRegisterForm" class="green-text ml-1 font-weight-bold">
                  inscription</a></p>
            </div> --}}
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
</form>

