<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Nolink</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Site vitrine d'un salon de tatouage.">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="/adminStyle.css">
  <link rel="shortcut icon" href="/public/images/imgnolink.jpg">
</head>

<body>

{{{body}}}
 

</body>
