<!DOCTYPE html>
<html lang="fr">

<head>
 <title>Nolink</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="description" content="Site vitrine du salon de tatouage Nolink.">
  <meta name="msapplication-navbutton-color" content="#fff #000"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#fff #000"/>
  <meta name="keywords" content="Page administration" />
  <meta name="author" content="Nolink" />
  <meta name="other" content="Infomation" />

  <link rel="icon" type="image/png" href="https://image.shutterstock.com/image-vector/vector-illustration-monochrome-tattoo-machine-260nw-781476760.jpg" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="stylesheet" href="/adminStyle.css">
</head>

<body>
{{> navbarAdmin}}
{{{body}}}
{{> script}}
 

</body>
