<section>
  <!--for demo wrap-->
  <h1>Tableau d'utilisateur</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Mot de passe</th>
          
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td name="">Kenny</td>
          <td name="">Boo </td>
          <td name="">test@machin.com</td>
          <td name="">123</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</section>
<a><input class="btn" type=button onclick=window.location.href='/'; value=retour />
