{{>navbar}}
<!------Contact------>
<div class="container contactcontainer">
    <div class="wrapper">
        <h1 class="h1contact">Contact Nolink</h1>
        <div class="address">
            <div class="inner-address">
                <i class="fas fa-map-marker-alt"></i>
                <p>54 Rue Nationale, 85140 L'Oie Nolink<br />France</p>
            </div>
            <div class="inner-address">
                <i class="fas fa-envelope"></i>
                <p>Pasencore@gmail.com</p>
            </div>
            <div class="inner-address">
                <i class="fas fa-phone-volume"></i>
                <p>06 09 12 37 07</p>
            </div>
        </div>

        <div class="form">
            <div class="form-title">
                Laissez-nous votre précieux message
            </div>
            <div class="input-form">
                <div class="input">
                    <input class="input-name input" type="text" placeholder="Nom">
                </div>
                <div class="input">
                    <input class="input-name input" type="email" placeholder="Email">
                </div>
            </div>
            <div class="inner-msg">
                <div class="msg">
                    <textarea placeholder="Message"></textarea>
                </div>
            </div>
            <div class="btn">
                Envoyer message
            </div>
        </div>


        <div class="social">
            <div class="inner-social">
                <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank" rel="noopener"><i
                        class="fab fa-facebook-f"></i>
                    <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank" rel="noopener"><i
                            class="fab fa-twitter"></i>
                        <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank" rel="noopener"><i
                                class="fab fa-linkedin-in"></i>
            </div>
            <div class="inner-social">
                <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i class="fab fa-google-plus-g"></i>
                    <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i class="fab fa-reddit-alien"></i>
                        <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i class="fab fa-whatsapp"></i>
            </div>
        </div>
    </div>
</div>

{{>footer}}