<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  	<meta name="description" content="Nolink salon de tatouage à l'Oie en Vendée. Un tatouage est définitif et reste sur vous toute votre vie, alors autant bien le choisir et y réfléchir à deux fois." />
  	<meta name="msapplication-navbutton-color" content="#212529, #222222, #000, #c9c9c9"/>
  	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="#fff , #222222 , #000 , #c9c9c9"/>
  	<meta name="keywords" content="Nolink, Tatouage, Vendée, 85" />
  	<meta name="author" content="Lewis Blaud" />
  	<meta name="other" content="Information" />

	<title>Page 404 - Page d'erreur où l'on peut revenir à la page d'accueil.</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet"> 

	<link type="text/css" rel="stylesheet" href="../public/style.css"/>

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
			</div><br><br><br>
			<p>La page que vous recherchez a peut-être été supprimée, ou est temporairement indisponible...</p>
			<a href="/" rel="noopener">Retourner sur la page d'accueil</a>
		</div>
	</div>

</body>

</html>

