<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./public/images/imgnolink.jpg">

    <!-- Bootstrap itself -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="public/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>


    <title>Nolink Page d'accueil</title>
</head>



<!-- utilisez la classe "theme-invert" sur les arrière-plans clairs, essayez aussi la classe "text-shadows"-->

<body class="theme-invert" id="home">

    <nav class="mainmenu">
        <div class="container">
            <div class="dropdown">
                <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!-- <a data-toggle="dropdown" href="#">Déclencheur Dropdown</a> -->
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="#head" class="active">Bienvenue</a></li>
                    <li><a href="#contact">Contactez-moi</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Main (Home) section -->
    <section class="section" id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                    <!-- Titre du site. -->
                    <h1 class="title">Nolink</h1>
                    <!-- Courte introduction (optional) -->
                    <h3 class="tagline">
                        Courte introduction.<br><br>
                        Avant de commencer cette activité, j'étais réparateur de vélos puis surveillant en collège et
                        lycée des Herbiers et Pouzauges. Ayant une passion et une bonne maîtrise du dessin, j'ai eu
                        envie de me lancer. J'ai d'abord suivi une formation de trois jours pour l'hygiène et des amis
                        ont assuré la formation technique. La création explore de multiples facettes. Les mains et les
                        doigts sont sensibles à l'effacement et les plis (coudes et genoux) sont plus sensibles à la
                        douleur. Je crée mes propres modèles. Il faut ensuite adapter les formes et les couleurs à
                        chaque personne ».
                    </h3>

                    <button class="btn btn-primary"><a href="http://localhost:3050">Le site c'est par içi </a></button>
                </div> <!-- /col -->
            </div> <!-- /row -->
        </div>
    </section>
    <!-- Second (About) section -->
    <section class="section" id="contact">
        <!------Contact------>
        <div class="container contactcontainer">
            <div class="wrapper">
                <h2 class="text-center title">Contactez-moi</h2>
                <h1 class="h1contact">Contact Nolink</h1>
                <div class="address">
                    <div class="inner-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>54 Rue Nationale, 85140 L'Oie Nolink<br />France</p>
                    </div>
                    <div class="inner-address">
                        <i class="fas fa-envelope"></i>
                        <p>Pasencore@gmail.com</p>
                    </div>
                    <div class="inner-address">
                        <i class="fas fa-phone-volume"></i>
                        <p>06 09 12 37 07</p>
                    </div>
                </div>

                <div class="form">
                    <div class="form-title">
                        Laissez-nous votre précieux message
                    </div>
                    <div class="input-form">
                        <div class="input">
                            <input type="text" placeholder="Nom">
                        </div>
                        <div class="input">
                            <input type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="inner-msg">
                        <div class="msg">
                            <textarea placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="btn">
                        Envoyer message
                    </div>
                </div>


                <div class="social">
                    <div class="inner-social">
                        <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank" rel="noopener"><i
                                class="fab fa-facebook-f"></i>
                            <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank"
                                rel="noopener"><i class="fab fa-twitter"></i>
                                <a class="a-icon" href="https://www.facebook.com/Noli.Ink/" target="_blank"
                                    rel="noopener"><i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="inner-social">
                        <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i class="fab fa-google-plus-g"></i>
                            <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i
                                    class="fab fa-reddit-alien"></i>
                                <a class="a-icon" href="https://www.facebook.com/Noli.Ink/"><i
                                        class="fab fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
</body>

</html>