
{{> navbar}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Horaire</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/adminStyle.css" />

</head>

<body class="horaire">

    <div class="container ho-container">
        <h1>Horaire du salon</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                        <th>Samedi</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td style="font-size: 1rem;  text-shadow: #fff 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Fermer toute la journée</td>

                        <td style="font-size: 1rem;  text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Ouvert de 14h à 18h</td>
                        <hr class="separation1" />
        </div>
        <td style="font-size: 1rem; text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Ouvert de 14h à 18h</td>
        <hr class="separation2" />
    </div>
    <td style="font-size: 1rem; text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Ouvert de 14h à 18h</td>
    <hr class="separation3" />
    </div>
    <td style="font-size: 1rem; text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Ouvert de 14h à 18h</td>
    <hr class="separation4" />
    </div>
    <td style="font-size: 1rem; text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;" name="">Ouvert de 14h à 18h</td>
    <hr class="separation5" />
    </div>
    </tr>
    </tbody>
    </table>
    </div><br>
    <a class="retour-articles"><input class="btn"  type=button onclick=window.location.href='/'; value="Retour au site" /> 
    </div>
</body>
