{{> navbar}}

    <div class="horaire">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
        <th scope="col">Lundi</th>
        <th scope="col">Fermer toute la journée</th>
    </tr>
  </thead>
    <thead>
    <tr>
      <th scope="col">Mardi</th>
      <th scope="col">Ouvert de 14h à 18h</th>
    </tr>
  </thead>
    <thead>
    <tr>
      <th scope="col">Mercredi</th>
      <th scope="col">Ouvert de 14h à 18h</th>
    </tr>
  </thead>
    <thead>
    <tr>
      <th scope="col">Jeudi</th>
      <th scope="col">Ouvert de 14h à 18h</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col">Vendredi</th>
      <th scope="col">Ouvert de 14h à 18h</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col">Samedi</th>
      <th scope="col">Ouvert de 14h à 18h</th>
    </tr>
  </thead>
  </table>
  </div>

{{>footer}}