{{>navbar}}
<section>
<div class="container">
    <form class="form-field" action="/articles/post" method="POST" enctype="multipart/form-data"
        style="margin: 0 auto;">
        <div class="form-group">
            <label for="exampleFormControlInput1">Titre de l'évènement</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="title" placeholder="">
        </div>
        <div class="form-group" style="width: 4 0rem;">
            <label for="exampleFormControlTextarea1">Ajouter du contenu</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
            <script>
                CKEDITOR.replace('content');
            </script>
        </div>
        <div class="form-group">
            <label class="label">Auteur</label>
            <div class="control">
                <input class="form-control" type="text" name="auteur">
            </div>
        </div>
        <div class="file" style="text-align: center; border-radius:">
             <label class="file-label">
                <input class="file-input" type="file" name="image">
                <span class="file-cta">
                    <span class="file-icon">
                    </span><br>
                    <span class="file-label">
                        Image obligatoire
                        <i class="fas fa-upload"></i>
                    </span>
                </span>
            </label> 
        </div><br>
        <div class="field is-grouped">
            <div class="control" style="text-align: center;">
                <button class="btn btn-dark">Envoyer</button>
            
                <input type=button class="btn btn-dark" onclick=window.location.href="/" ; value=Annuler />
                {{!-- <button class="button is-text">Annuler</button> --}}
            </div>
        </div>
    </form>
</div>
</section>

{{>footer}}