{{>navbar}}
<section class="row justify-content-center">
<form class="form-field" action="/commentaires/post/{{commentaire.id}}" method="POST"  enctype="multipart/form-data"
    style="margin: 0 auto;">
  <div class="col-md-8">
    <p class="lead font-weight-bold" style="text-align: center; padding-top: 1rem;" name="title">Si vous voulez me
      laisser un message</p>
    <form class="form-field" action="/commentaires/post" method="POST" enctype="multipart/form-data"
      style="margin: 0 auto;">
      <div class="form-group" style="padding-top: 10px">
        <label for="exampleFormControlTextarea1">Ajouter du contenu</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
        {{!-- <label for="textarea" name="content"></label> --}}
        <script>
          CKEDITOR.replace('content');
        </script>
      </div>
      <div class="form-group">
        <label class="label">Auteur</label>
        <div class="control">
          <input class="form-control" type="text" name="auteur">
        </div>
      </div>
      <button class="btn" type="submit">Envoyer</button>
    </form>
    <br>
  </div>
</section>
{{>footer}}