/* Param btn accueil dans admin*/
.navbar-dark 
.navbar-nav 
.active > .nav-link, 
.navbar-dark 
.navbar-nav 
.nav-link.active, 
.navbar-dark .navbar-nav 
.nav-link.show, 
.navbar-dark 
.navbar-nav 
.show > .nav-link {
  color: #fff;
  margin: 5rem;
}

.nav-link {
  margin-bottom: 4rem;
}
/* Container utilisateurs */
.container {
  max-width: 80rem;
}


h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  table { 
    width:100%;
    table-layout: fixed;
  }

  .tbl-header {
    background-color: rgba(255,255,255,0.3);
   }

  .tbl-content {
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 2px solid rgba(255,255,255,0.5);
  }

  th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 2px rgba(255,255,255,0.5);
  }
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  section {
    margin: 5rem 2rem 0 2rem;
}
  
  body{
    font-family: 'Roboto', sans-serif;
    /* background-image:  url(./images/black-1072366_1920.jpg) ; */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a {
    color: rgb(78, 124, 145);
    text-decoration: none;
    background-color: transparent;
}

  
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  ::-webkit-scrollbar {
      width: 6px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }


  .tbl-content {
    height: auto;
  }

  /*==========================================
                  RESPONSIVE TABLEAUX
 ===========================================*/   

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Forcer le tableau à ne plus être comme un tableau */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Masquer les en-têtes de tableau */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Se comporter comme une "rangée" */
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    position: relative;
  }

  td:before {
    /* Maintenant, comme un en-tête de tableau */
    position: absolute;
    /*Les valeurs haut / gauche imitent le remplissage*/
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
      }
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1.1rem;
}
.btn.btn-dark {
  border-radius: 10rem;
}
