/* Document information
				-Document: Site vitrine de tatouage (Pour NoLink)
				-Version: 1.0.0
				-Author: Lewis
*/

/*===============================================
              GLOBALE
===============================================*/

html {
  height: 100vh;
}

h2 {
  text-align: center;
}
h6{
  padding-top: 1rem;
}

/* TAILLE TITRE COMMENTAIRE*/
.lead.font-weight-bold {
  font-size: 2rem;
}

a {
  color: #393939;
  background-color: transparent;
}

a:hover {
  color: #000000;
}

path {
  color: #000000;
}

path:hover {
  color: rgb(255, 255, 255);
}

/*=============================================
              HEADER/BARNAV
=============================================*/

/* Architecture de la Navbar */
header {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..///images/owl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22.5rem;
}

/* Emplacement du text-nav */
.text-nav {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Couleur texte Navbar (brand) */
.navbar-light .navbar-brand {
  color: white;
}

/* Taille d'écriture "BIENVENUE" */
.navbar-brand {
  font-size: 30px;
}

/* Couleur text Navbar (hors navbar-brand) */
.navbar-light .navbar-nav .nav-link {
  z-index: auto;
  color: white;
}

/*Couleur text Navbar passage souris */
.navbar-dark .navbar-nav .nav-link {
  color: black;
}

/*Taille d'écriture de la Navbar */
.navbar-expand-md {
  font-size: 20px;
}

/* BACKGROUND TOGGLE ICON*/
.navbar-light .navbar-toggler {
  background: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.4);
}

/*Centrer dans le déroulement hamberger*/
.nav.navbar-nav {
  margin: 0 auto;
  z-index: 1;
}

/* Couleur text et background au passage de la souris (drop-item) */
.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
}

/* */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #fff 0px 0px 40px, #fff 0px 0px 50px, #fff 0px 0px 75px;
}


/*=================================================
                      BODY/EVENEMENT
==================================================*/

/* Partie section */
section {
  background-image: url(..//images/paysage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* padding-bottom: 2rem; */
}

/*margin cadre pseudo*/
strong.text-light.bg-dark {
  margin-bottom: 2rem;
}

/* Architecture container evenement */
.container-fluid {
  /* padding-top: 1rem;  */
}

@media (min-width: 768px) {
  .container {
    justify-content: center;
    padding-top: 1rem;
  }
  .card-body {
   display: flex;

  }
  
}

/* Taille de card affiché */
.card {
  height: 65rem;
  width: 30rem;
  text-align: center;
  margin: 1rem auto;
  border: none;
}

.card-body {
  height: 40rem;
}

/* Controle de la taille d'image */
.card-img-top {
  height: 35%;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

}

/*  Dash */
.ui.container {
  margin: auto!important;
}
.ui.card.actu {
  height: 25vh;
}
#dash {
  margin: auto;
  width:  auto;
  height: 100%;
  overflow: hidden;
}
#dash p {
  padding: 10px;
  margin: 0;
}


/*===================================================
              BODY/GALERIE-PHOTO
===================================================*/
/*===========================
       PHOTOS 
===========================*/

.h1photos {
  text-align: center;
  padding: 5rem 0 0px 0;
  color: black;
  text-decoration: underline;
}


#galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bfbfbf;
  border-radius: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 12rem 12rem 12rem;
}

#galerie img {
  flex: 1 1 auto;
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  object-fit: cover;
  border: 2px inset rgb(116, 135, 151);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #28323B;
  transform: scale(1);
  transition: transform 2s;
}


#galerie img:hover {
  transform-origin: 50% 50%;
  transform: scale(2);
  z-index: 999;
  border-radius: 10px;
}

.media-body {
  width: 100%;
}

.control {
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
}

p.img {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}


/*============================================================
                            CONTACT
============================================================*/

/*==============================
          Contact
==============================*/

.contactcontainer {
  /* background-image: url(../images/k4.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container.contactcontainer {
  padding-top: 1rem;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background: radial-gradient(circle, #b1b9bb, #afb7b8, #aeb4b5, #acb2b2, #abafaf, #9b9e9d, #8c8e8c, #7d7e7c, #5e5d5c, #3f3e3d, #222222, #000000);
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 35px;
  color: black;
}

.h1contact {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 35px;
  color: #fff;
}

.address {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

/* Taille icon réseau sosial*/
.svg-inline--fa.fa-facebook-f.fa-w-9 {
  height: 3rem;
  width: 3rem;
}

/*Taille icon réseau social*/
.svg-inline--fa.fa-instagram.fa-w-14 {
  height: 3rem;
  width: 3rem;
}

.a-icon {
  color: rgb(255, 255, 255);
  padding: 0 4px 0 4px;
}

.a-icon:hover {
  color: #fff;
}

.inner-address p {
  font-size: 12px;
}

.inner-address .fas {
  font-size: 30px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

.form-group {
  max-height: 24rem;
  margin-bottom: 2rem;
}

.form-field {
  width: 60rem;
  margin: 0 auto;
}

.form-field.evenement {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form-field{
    width: 100%;
  }
  #liste {
    width: 100%;
  }
  .flex-container {
    width: 100%;
  }
}

.form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.input-name .input {
  height: 35px;
  margin-top: 2px;
}

.input-email .input {
  height: 35px;
  margin-top: 2px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 10px 50px 10px;
}

.input-name {
  margin-right: 10px;
}

.inner-msg {
  width: 100%;
  margin-bottom: 20px;
}

.input>input {
  border: 0;
  width: 260px;
  height: 3rem;
  padding: 10px 20px;
  outline: none;
}

.msg>textarea {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  outline: none;
  height: 150px;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #fff;
  color: #6465a5;
}

.social {
  display: flex;
  justify-content: center;
  color: #a9aacd;
}

.inner-social .fab {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.fab:hover {
  color: rgb(32, 57, 124);
}

::-webkit-input-placeholder {
  color: #a9aacd;
}

::-moz-placeholder {
  color: #a9aacd;
}

:-ms-input-placeholder {
  color: #c2a9cd;
}

@media screen and (max-width: 576px) {
  .input-form {
    flex-direction: column;
  }

  .input:first-child>input {
    margin-bottom: 20px;
  }

  .form .input>input {
    width: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  .address {
    flex-direction: column;
    align-items: center;
  }

  .inner-address {
    margin-bottom: 20px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .inner-social {
    margin-bottom: 20px;
  }
}

/*====================================================
                  FOOTER
====================================================*/

footer {
  background-color: black;
  background: rgb(192, 202, 222);
  background: radial-gradient(circle, #b1b9bb, #afb7b8, #aeb4b5, #acb2b2, #abafaf, #9b9e9d, #8c8e8c, #7d7e7c, #5e5d5c, #3f3e3d, #222222, #000000);
  height: 10rem;
}

.p-footer {
  color: black;
  text-align: center;
  margin: 0;
}

.copyright {
  padding: 2rem;
}

.copyright a {
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}


/*==================================================
                  LOGIN/Register
                        =
                      Modal
==================================================*/

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}


/*=================================================
                      AJOUT article
=================================================*/
/* TAILLE TEXT AREA */
textarea.form-control {
  height: 25rem;
}

/* COULEUR ICON UPLOAD*/
.btn-link {
  display: flex;
  justify-content: center;
  color: #343a40;
  padding-top: 2rem;
}

.btn-link:hover {
  color: #fff;
}

/* TAILLE ICON UPLOAD */
.svg-inline--fa.fa-cloud-upload-alt.fa-w-20 {
  font-size: 3rem;
}

/* balise <a> retour sur index dans le singleArticle*/
.retour-articles {
  display: flex;
  justify-content: center;
}

/*ALIGNEMENT DES BTN ARTICLE-SINGLE*/
.ed-amin {
  display: flex;
  justify-content: center;
}

/*==========================================
        Date/photo view article
==========================================*/
/* Position date dans le container article*/
.date {
  display: flex;
  justify-content: end;
}

/* Taille de la card article*/
.card-img.img-responsive {
  max-width: 40rem;
  max-height: 40rem;
}

/*=================================================
                      AJOUT photo
=================================================*/

.container.photo-add {
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/*================================================
                COMMENTAIRE
================================================*/

.h1-commentaire {
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

.container.commentaire {
  background-image: url(./images/k4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}


.row.bootstrap.snippets {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.row {
  margin: 0 auto;
  padding-top: 1rem;
}

/* Séparation des commentaires*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1rem solid rgba(255, 255, 255, 0.5);
}

.pl-5, .px-5 {
  padding-left: 1rem !important;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

.pr-5, .px-5 {
  padding-right: 1rem !important;
}

.pt-5, .py-5 {
  padding-top: 3rem !important;
}

/*===========================================================
                             Page 404
===========================================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
  background-color: #222;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}

.notfound .notfound-404 h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 220px;
  letter-spacing: 10px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
  text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
  font-family: 'Josefin Sans', sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}

.notfound a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #c9c9c9;
  border: 2px solid #c9c9c9;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ffab00;
  border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}

/*== TABLEAU HORAIRE ==*/
h1.titre-horaire {
  
}

.horaire {
  display: flex;
  height: 38rem;
  background-image: url(./images/paysage.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.table-dark.table-bordered {
  margin: 3rem auto;
  border: 0;
  width: 85%;
}
