/* Document information
				-Document: Site vitrine de tatouage (Pour NoLink)
				-Version: 1.0.0
				-Author: Lewis
*/

/*===============================================
              GLOBALE
===============================================*/              

html {
  height: 100vh;
}

h2 {
  text-align: center;
}

path {
  color: #1a1a1e;
}
path:hover {
  color: gray;
}

/*=============================================
              HEADER/BARNAV
=============================================*/ 

/* Architecture de la Navbar */
header {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url(./images/owl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 22.5rem;
}

/* Emplacement du text-nav */
.text-nav {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 5rem;
}

/* Couleur texte Navbar (brand) */
.navbar-light .navbar-brand {
  color: white;
}

/* Taille d'écriture "BIENVENUE" */
.navbar-brand {
  font-size: 30px;
}

/* Couleur text Navbar (hors navbar-brand) */
.navbar-light .navbar-nav .nav-link {
  color: white;
}
/*Couleur text Navbar passage souris */
.navbar-dark .navbar-nav .nav-link {
  color: black;
}
/*Taille d'écriture de la Navbar */
.navbar-expand-md {
  font-size: 20px;
} 

/* BACKGROUND TOGGLE ICON*/
.navbar-light .navbar-toggler {
  background: rgba(255,255,255,0.5);
}

.dropdown-menu {
  background-color: rgba(255,255,255,0.4);
}

/* Couleur text et background au passage de la souris (drop-item) */
.dropdown-item:focus, .dropdown-item:hover {
  color:white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
}

/*=================================================
                      BODY/EVENEMENT
==================================================*/ 

/* Parallax
.parallax-window {
  min-height: 400px;
  background: transparent;
} */

/* Partie section */
section {
  background-image: url(./images/paysage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

/* Architecture container evenement */
.container {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}
/* Taille de card affiché */
.card {
  height: 65rem;
  width: 30rem;
  text-align: center;
  margin: 0 auto;
  border: none;
}
/* Controle de la taille d'image */
.card-img-top {
  height: 35%;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
    }
}


/*===================================================
              BODY/GALERIE-PHOTO
===================================================*/ 
/*===========================
       PHOTOS 
===========================*/

.h1photos {
  text-align: center;
  padding: 50px 0 0px 0;
  color: black;
  text-decoration: underline;
}


#galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #bfbfbf;
  border-radius: 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 15rem 5rem 15rem;
}

#galerie img {
  flex: 1 1 auto;
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  object-fit: cover;
  border: 2px inset rgb(116, 135, 151);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #28323B;
  transform: scale(1);
  transition: transform 2s;
}


#galerie img:hover {
  transform-origin: 50% 50%;
  transform: scale(2);
  z-index: 999;
  border-radius: 10px;
}

/*============================================================
                            CONTACT
============================================================*/ 

/*==============================
          Contact
==============================*/

.contactcontainer {
  /* background-image: url(../images/k4.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container.contactcontainer {
  padding-top: 1rem;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background: radial-gradient(circle, #b1b9bb, #afb7b8, #aeb4b5, #acb2b2, #abafaf, #9b9e9d, #8c8e8c, #7d7e7c, #5e5d5c, #3f3e3d, #222222, #000000);
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 35px;
  color: black;
}

.h1contact {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 35px;
  color: #fff;
}

.address {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.a-icon {
  color: rgb(255, 255, 255);
}

.inner-address p {
  font-size: 12px;
}

.inner-address .fas {
  font-size: 30px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form-group {
  max-height: 24rem;
}

.form-field {
  width: 60rem;
  margin: 0 auto;
}

.form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.input-name .input {
  height: 35px;
  margin-top: 2px;
}

.input-email .input {
  height: 35px;
  margin-top: 2px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 10px 50px 10px;
}

.input-name {
  margin-right: 10px;
}

.inner-msg {
  width: 100%;
  margin-bottom: 20px;
}

.input>input {
  border: 0;
  width: 260px;
  padding: 10px 20px;
  outline: none;
}

.msg>textarea {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  outline: none;
  height: 150px;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #fff;
  color: #6465a5;
}

.social {
  display: flex;
  justify-content: center;
  color: #a9aacd;
}

.inner-social .fab {
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.fab:hover {
  color: rgb(32, 57, 124);
}

::-webkit-input-placeholder {
  color: #a9aacd;
}

::-moz-placeholder {
  color: #a9aacd;
}

:-ms-input-placeholder {
  color: #c2a9cd;
}

@media screen and (max-width: 640px) {
  .input-form {
    flex-direction: column;
  }

  .input:first-child>input {
    margin-bottom: 20px;
  }

  .form .input>input {
    width: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  .address {
    flex-direction: column;
    align-items: center;
  }

  .inner-address {
    margin-bottom: 20px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .inner-social {
    margin-bottom: 20px;
  }
}

/*====================================================
                  FOOTER
====================================================*/

footer {
  background-color: black;
  background: rgb(192, 202, 222);
  background: radial-gradient(circle, #b1b9bb, #afb7b8, #aeb4b5, #acb2b2, #abafaf, #9b9e9d, #8c8e8c, #7d7e7c, #5e5d5c, #3f3e3d, #222222, #000000);;
  height: 125px;
}

.p-footer {
  color: black;
  text-align: center;
  padding: 3rem;
  margin: 0;
}

.copyright {
  padding: 10px;
}

.copyright a {
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}


/*==================================================
                  LOGIN/Register
                        =
                      Modal
==================================================*


/*=================================================
                      AJOUT article
=================================================*/
/* TAILLE TEXT AREA */
textarea.form-control {
  height: 25rem;
}
/* COULEUR ICON UPLOAD*/
.btn-link {
  color: #343a40 ;
}
.btn-link:hover {
  color: #fff;
}
/* TAILLE ICON UPLOAD */
.svg-inline--fa.fa-cloud-upload-alt.fa-w-20 {
  font-size: 3rem;
}

/*==========================================
        Date/photo view article
==========================================*/
.date{
  float: right;
}
.card-img.img-responsive {
  max-width: 40rem;
  max-height: 40rem;
}

/*=================================================
                      AJOUT photo
=================================================*/

.container.photo-add {
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/*================================================
                COMMENTAIRE
================================================*/

.h1-commentaire {
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

.container.commentaire {
  background-image: url(./images/k4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.container.test {
  justify-content: center;
}

.row.bootstrap.snippets {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.row {
  margin: 0 auto;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
  border-top: 1rem solid rgba(0,0,0,.1);
}