{{>navbar}}
<section class="add">
    <div class="container photo-add">
        <form class="form-field add-photo" action="/galeries/post" method="POST"enctype="multipart/form-data">
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" required >
                    <span class="file-cta">
                        <span class="file-icon">
                        </span><br><br>
                    </span>
                </label><br>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Enregistrer</button>
                    </div>
                    <div class="control">
                        <input type="button" onclick="window.location.href='/'"; value="Annuler" />
                        {{!-- <button class="button is-text">Annuler</button> --}}
                    </div>
                </div>
            </div>
    </div>
    </form>
    </div>
</section>
{{>footer}}